body {
    font: normal 1em Verdana;
    margin: 1em 10%;
}

h1 {
    color: rgb(23, 109, 109);
    margin: 1em 0 1em;
}

img {
    margin: 0 20px 0 0;
}

h1 img {
    margin-bottom: -20px;
}

small {
    color: #666666;
}